<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">Demo</a>
      </div>
  
      <div class="navbar-default">
        <ul class="nav navbar-nav">
          <li><a routerLink="schedule">Schedule</a></li>
          <li><a routerLink="resources">Resources</a></li>
          <li><a routerLink="projects">Projects</a></li>
          <li><a routerLink="groups">Groups</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" appDropdown>
            <button class="dropdown-toggle" role="button">Account <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">My Account</a></li>
              <li><a href="" (click)='logout()'>Sign Out</a></li>
            </ul>
          </li>
        </ul>
        <button (click)='logout()'>Sign Out</button>
      </div>
    </div>
  </nav>