<div class="container-fluid">
<div class="row">
        <nav class="navbar navbar-default align-text-bottom col-sm-12" style="background-color: #515151;">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
            <img src="../../../assets/images/leash_logo_nav.png" width="300" height="100" alt="">
          </a>
                </div>


                <ul class="nav navbar-nav align-text-bottom">
                    <li><a routerLink="schedule" routerLinkActive="nav-active">Schedule</a></li>
                    <li><a routerLink="resources" routerLinkActive="nav-active">Resources</a></li>
                    <li><a routerLink="groups" routerLinkActive="nav-active">Groups</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" appDropdown>
                        <button class="dropdown-toggle dropbtn" role="button">Account <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a routerLink="user-profile">My Account</a></li>
                            <li><a href="" (click)='logout()'>Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
        </nav>

</div>
</div>


  

