
<div class="row">
  <div class="col-sm-4 bg-primary text-white full-height">
    <br>
      <button class="btn btn-success" (click) ="activeItem = 'addResource'">New Resource</button>
      <br> <br> <br>
      <ul class="list-group">
          <li class="list-group-item text-muted" *ngFor = "let resource of resources | async" (click) = "getResource(resource.id) ; activeItem= resource.data.name ; editMode = false" [ngClass]="{active: activeItem ===  resource.data.name}" >
            <strong>{{resource.data.name}} (<button (click)="deleteResource(resource.id)" class="text-danger">Delete</button>)</strong>
            <br>
            {{resource.data.note}}
          </li>
      </ul>
  </div>
  
  <div *ngIf="activeItem !='addResource' ; else showAddResource" class="col-sm-8 bg-info text-white full-height">
      <div *ngIf="editMode !=true ; else showEditResource" class="col-sm-8 bg-info text-white full-height">
          <app-resource-detail [resource]='resource'></app-resource-detail>
          <br>
          <button class="btn btn-info" (click)="editMode = true">Edit</button>
  </div>
  <ng-template #showEditResource > 
      <app-resource-edit [resource]='resource'></app-resource-edit>
  </ng-template>

  </div>
      
    <ng-template #showAddResource > 
        <app-resource-add></app-resource-add>
    </ng-template>
  </div>








  