<p>
  register-company works!
</p>

<form [formGroup]="userForm"  (ngSubmit)="signupCompany()">

  <h3>Register a New Organization</h3>


  <label for="email-r-c">Email</label>
  <input type="email" id="email-r-c" class="input"
         formControlName="email" required >

  <div *ngIf="formErrors.email" class="notification is-danger">
    {{ formErrors.email }}
  </div>

  <label for="password-r-c">Password</label>
  <input type="password" id="password-r-c" class="input"
         formControlName="password" required >

  <div *ngIf="formErrors.password" class="notification is-danger">
    {{ formErrors.password }}
  </div>

  <label for="company-r-c">Company Name</label>
  <input type="text" id="company-r-c" class="input"
  formControlName="company" required >

  <!-- <label for="company">Company Key (this will be used to register new users)</label>
  <input type="text" id="companyKey" class="input"
  formControlName="companyKey" required > -->

  <div *ngIf="userForm.valid" class="notification is-success">Form is valid</div>
  <button type="submit" class="button" [disabled]="!userForm.valid"
  >Submit</button>
  <hr>
  <p class="btn button is-small" (click)="toggleForm()">Already Registered?</p>
</form>