<div class="row">
    <div class="col-md-12">
        <section class="login-form">
            <form [formGroup]="userForm"  (ngSubmit)="signupCompany()" role="login">
                <img src="../../../assets/images/leash_banner_transparent.png" class="img-responsive" alt="leash resource scheduling logo">
                <h3 class="text-center">Register a New Company</h3>


                <label for="email-r-c">Email</label>
                <input type="email" id="email-r-c" placeholder="Email" required class="form-control input-lg" formControlName="email" required>
              
                <div *ngIf="formErrors.email" class="text-danger text-center">
                  {{ formErrors.email }}
                </div>


                <input type="password" id="password-r-c" class="form-control input-lg" placeholder="Password" formControlName="password" required>
              
                <div *ngIf="formErrors.password" class="text-danger text-center">
                    {{ formErrors.password }}
                </div>


                <label for="company-r-c">Company Name</label>
                <input type="text" id="company-r-c" placeholder="Company Name" required class="form-control input-lg" formControlName="company" required>


                <button type="submit" class="button" [disabled]="!userForm.valid" class="btn btn-lg btn-primary btn-block">
                Register Company</button>
            </form>
        </section>
</div>