<div class="row">
  <div class="col-sm-4 bg-primary text-white full-height">
    <div class="btn-group btn-group-justified" data-toggle="buttons">
        <label class="btn btn-primary">
          <input type="radio" name="overview" id="overview" (click) ="loadedDisplay='overview'"> Overview
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="resources" id="resources" (click) ="loadedDisplay='resources'"> Resources
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="projects" id="projects" (click) ="loadedDisplay='projects'"> Projects
        </label>
      </div>

    <ul class="list-group text-muted" *ngIf="loadedDisplay==='resources'">
      <li class="text list-group-item schedule-list-resource" *ngFor="let dbResource of dbResources | async">
       <h4> {{dbResource.name}} </h4>
      </li>
    </ul>
    <ul *ngIf="loadedDisplay==='projects'">
        <h1>Show project list</h1>
        <li class="text" *ngFor="let dbProject of dbProjectss | async">
          {{dbProject.name}}
        </li>
      </ul>
      <ul *ngIf="loadedDisplay==='overview'">
        <h1>Show the full view!</h1>
          <!-- <li class="text schedule-list-resource" *ngFor="let dbResource of dbResources | async">
            {{dbResource.name}}
          </li> -->
          <li>Add directly to the schedule here!</li>
        </ul>
</div>
<div class="col-sm-8 bg-info text-white full-height"><h1 class="text-center">Calendar</h1>

<app-calendar-overview></app-calendar-overview>
</div>
</div>
