<div class="row">
  <div class="col-sm-4 bg-primary text-white full-height">
    <div class="btn-group btn-group-justified" data-toggle="buttons">
        <label class="btn btn-primary">
          <input type="radio" name="overview" id="overview" (click) ="loadedDisplay='overview'"> Overview
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="resources" id="resources" (click) ="loadedDisplay='resources'"> Resources
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="projects" id="projects" (click) ="loadedDisplay='projects'"> Projects
        </label>
      </div>
      

    <ul class="list-group text-muted" *ngIf="loadedDisplay==='resources'">
      <li class="text list-group-item schedule-list-resource" *ngFor="let dbResource of dbResources | async">
       <h4> {{dbResource.name}} </h4>
      </li>
    </ul>
    <ul *ngIf="loadedDisplay==='projects'">
        <h1>Show project list</h1>
        <li class="text" *ngFor="let dbProject of dbProjectss | async">
          {{dbProject.name}}
        </li>
      </ul>
      <div *ngIf="loadedDisplay==='overview'">
        <h1>Show the full view!</h1>
          <h2>Add directly to the schedule here!</h2>








<!-- -------------------------DATE SELECTION------------------ -->

          <form>
              Date<br>
              <input type="date" name="date" #date><br>
              Resource<br>
              <select #resource>
                  <option name="resource" *ngFor="let dbResource of dbResources | async" [value]="dbResource.name">{{dbResource.name}}</option>
              </select>
              <input type="submit" (click)="takeForm(date.value, resource.value)" 

              >
            </form>
        </div>



</div>
<div *ngIf="loadedDisplay==='overview'" class="col-sm-8 bg-info text-white full-height"><h1 class="text-center">Calendar</h1>

  <app-calendar-overview></app-calendar-overview>
</div>
<div *ngIf="loadedDisplay==='resources'" class="col-sm-8 bg-info text-white full-height">
<app-calendar></app-calendar>
</div>



</div>
