<div class="row">
  <div class="col-sm-4 bg-primary text-white full-height">
    <div class="btn-group btn-group-justified" data-toggle="buttons">
        <label class="btn btn-primary">
          <input type="radio" name="overview" id="overview" (click) ="loadedDisplay='overview'"> Overview
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="resources" id="resources" (click) ="loadedDisplay='resources'"> Resources
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="groups" id="groups" (click) ="loadedDisplay='groups'"> Groups
        </label>
      </div>
      
<!-- --------------------------------------------resource view------------------------------------------------ -->
    <ul class="list-group text-muted" *ngIf="loadedDisplay==='resources'">
      <li class="text list-group-item schedule-list-resource" *ngFor="let resource of resources | async">
       <h4> {{resource.data.title}} </h4>
      </li>
    </ul>

<!-- --------------------------------------------group view------------------------------------------------ -->
    <div *ngIf="loadedDisplay==='groups'">
        <form>
            Filter by group
            <br>
            <select #theGroup name="selectGroup">
                <option name="theGroup" *ngFor="let group of groups | async" [id]="group.data.name" [value]="group.data.name">{{group.data.name}}</option>
            </select>
            <input type="submit" value="Go!" (click)="filterByGroup(theGroup.value)">
          </form>



      <div  *ngFor="let resource of resources  | async">
              <p *ngIf="resource.data.group == selectedGroup">{{resource.data.title}}</p>
      </div> 
    </div>      


<!-- --------------------------------------------full view------------------------------------------------ -->
      <div *ngIf="loadedDisplay==='overview'">
        <h1>Show the full view!</h1>
          <h2>Add directly to the schedule here!</h2>








<!-- -------------------------DATE SELECTION------------------ -->

          <form>
              Date<br>
              <input type="date" name="date" #date><br>
              Resource<br>
              <select #resource>
                  <option name="resource" *ngFor="let resource of resources | async" [id]="resource.data.title" [value]="resource.data.title">{{resource.data.title}}</option>
              </select>
              <input type="submit" (click)="takeForm(resource.value, date.value,  id)" 

              >
            </form>
        </div>



</div>
<div *ngIf="loadedDisplay==='overview'" class="col-sm-8 bg-info text-white full-height"><h1 class="text-center">Calendar</h1>

  <app-calendar-overview></app-calendar-overview>
</div>
<div *ngIf="loadedDisplay==='resources'" class="col-sm-8 bg-info text-white full-height">
<app-calendar></app-calendar>
</div>



</div>
