<div class="container">
 <h1>{{ ( resource | async)?.title }}</h1>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" #name id="name" required 
        [value]="(resource | async)?.title"
        >
      </div>

      <div class="form-group">
        <label for="notes">Notes</label>
        <input type="text" class="form-control" #note id="notes"
        [value]="(resource | async)?.note">
      </div>

      <div class="form-group">
          <label for="group">Group</label>
      <select #group>
        <option name="group" *ngFor="let group of groups | async" [value]="group.data.name">{{group.data.name}}</option>
      </select>
      </div>

      <div class="form-group">
          <label for="group">Scheduling dependency - Only allow resources from a specific group to be scheduled to this resource</label>
      <select #schedulingDepend>
        <option name="schedulingDepend" *ngFor="let group of groups | async" [value]="group.data.name">{{group.data.name}}</option>
      </select>
      </div>

      <button type="submit" class="btn btn-success" (click)="saveEdit(name.value, note.value, group.value, schedulingDepend.value)">Submit</button>

    </form>
    <br>
    <p><b class="leash-text-yellow">{{userMsg}}</b></p>
</div>

