/* You can add global styles to this file, and also import other style files */
 @import "../node_modules/fullcalendar/dist/fullcalendar.min.css";

.even { background-color:pink; }
.odd { background-color:lightgoldenrodyellow; }
.full-height {
    height: 100%;
    min-height: 1000px;
  }
  .container-full {
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
    padding:0;
  }
  .schedule-list-resource{
    height: 100px;
  }
.resource-heading-schedule{
  height: 40px;
}
#customCal .calendar-header-days{
  display: inline-block;
  width: 200px;
  height: 60px;
  color: whitesmoke;
  text-align: center;
}
#customCal .calendar-row{
  display: inline-block;

  border: 1px solid #ccccff;
}

#customCal .calendar-size {
  background-color:  #9999ff;
  overflow: auto;
  white-space: nowrap;
} 
#customCal table, .calendar-size {
  width: 100%;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
#customCal .calendar-row-size {
  background-color: #3f3;
  overflow: auto;
  width: 100%;
} 

#customCal th{
  width: 200px;
  background-color: purple;
  border: 3px orange;

}
#customCal .calendar-resource-head{
  background-color: purple;
  color: whitesmoke;
  font-weight: bold;
}
#customCal tr{
  /* background-color:red; */
}
#customCal td{
  background-color: #ebf0fa;
  color: #b30047;
  font-weight: bold;
  border: 1px #03f3;
  width: 200px;
  height:40px;
  text-align: center;
} 