/* You can add global styles to this file, and also import other style files */
 @import "../node_modules/fullcalendar/dist/fullcalendar.min.css";
 @import "https://fonts.googleapis.com/icon?family=Material+Icons";
body{
  background-color: #515151;
}
form, input, label, p {
  color: black !important;
}
.leash-bg-dark{
  background-color: #515151;
}
.leash-bg-deep-red{
  background-color: #931A3D;
}
.leash-bg-bright-red{
  background-color: #dc2315;
}
.leash-bg-yellow{
  background-color: #ffc724;
}
.leash-bg-light{
  background-color: lightgrey;
}
.leash-bg-white{
  background-color: whitesmoke;
}
.leash-text-deep-red{
  color: #fbb827;
}
.leash-bg-dark-yellow {
  background-color: #ca990a;
}
.leash-bg-orange{
  background-color: #f58b1f;
}
.leash-text-yellow{
  color: #fbb827;
}
.leash-text-white{
  color: #fff;
}
.leash-text-dark{
  color: #515151;
}
.leash-border-light{
  border: 1px solid #cca83e;
}
.leashactive{
  background-color: #515151;
  color: #fff;
}
.leashactiveYellow{
  background-color: #ffc724;
}
.leash-inline-block{
  display: inline-block;
}
.no-padding-margin{
  padding:0;
  margin: 0;
}
.leash-20-pc-margin{
  margin-top: 10%;
}
.leash-10-pc-margin{
  margin-top: 5%;
}
.leash-10-pc-margin-left{
  margin-left: 10%;
}
#schedule-radio-buttons btn.active{
  background-color: firebrick;
}
nav {
  width: 100%;
  white-space: nowrap;
}
.navbar-nav a:hover {
  background-color: #ffc724 !important;
}
.nav-active {
  background-color: #ca990a !important;
}
.navbar-nav a {
  font-size: 16px;
  color: #d9d9d9 !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar-header img {
  max-height: 100%;
  width: auto;
}
/* .navbar{
  border: none;
} */
nav .dropdown .dropbtn {
  font-size: 16px;    
  border: none;
  outline: none;
  color: #fbb827;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.loginPage{
  margin-bottom: 100px;
}
/* -------------------scheduler------------- */
.even { background-color:pink; }
.odd { background-color:lightgoldenrodyellow; }
.full-height {
    height: 100%;
    min-height: 1000px;
  }

.schedule-list-resource{
    height: 100px;
  }
.resource-heading-schedule{
  height: 40px;
}
#customCal .calendar-header-days{
  display: inline-block;
  width: 200px;
  height: 60px;
  color: whitesmoke;
  text-align: center;
}
#customCal .calendar-row{
  display: inline-block;

  border: 1px solid #ccccff;
}

#customCal .calendar-size {
  background-color: whitesmoke;
  overflow: auto;
  white-space: nowrap;
} 
#customCal table, .calendar-size {
  width: 100%;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
#customCal .calendar-row-size {
  overflow: auto;
  width: 100%;
} 

#customCal th{
  width: 200px;
  background-color: #515151;

}
#customCal .calendar-resource-head{
  background-color: #515151;
  color: whitesmoke;
  font-weight: bold;
}

#customCal td{
  background-color: #ebf0fa;
  font-weight: bold;
  border: 1px #03f3;
  width: 200px;
  height:100px;
  text-align: center;
} 
.tr-resource{
  height: 110px;
}
/* --------------- */
.fa {
  color: #fbb827;
  margin-left: 10px;
}
.fa-trash {
  color:  #fff;
  cursor: pointer;
}
.tr-resource .fa-trash {
  color:  #dc2315;
  cursor: pointer;
}
.fa-edit {
  color:   #ffc724;
  cursor: pointer;
}
.fa-plus-circle {
  color:   #fff;
  cursor: pointer;
}
.list-group-item{
  cursor:pointer;
}





.login-form {
	margin-top: 60px;
}

form[role=login] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	form[role=login] img {
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	form[role=login] input,
	form[role=login] button {
		font-size: 18px;
		margin: 16px 0;
	}
	form[role=login] > div {
		text-align: center;
	}
	
.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}
	.form-links a {
		color: #fff;
	}