<div id="customCal">
  <div class="col-md-4 col-md-offset-4 text-center">
    <br>
    <button (click)= "prevMonth()" class="leash-inline-block btn btn-md leash-bg-orange pull-left"><fa [name]="'arrow-left'" [size]=1></fa></button>
    <h1 class="leash-inline-block leash-10-pc-margin-left">{{calDisplay}}</h1>
    <button (click)= "nextMonth()" class="leash-inline-block btn btn-md leash-bg-orange leash-10-pc-margin-left pull-right"><fa [name]="'arrow-right'" [size]=1></fa></button> <br><br>
  </div>
    <table class="calendar-size leash-10-pc-margin">
      <thead>


    <tr>
      <th scope="col" class="calendar-header-days"></th> 
        <th scope="col" class="calendar-header-days" *ngFor="let day of daysInMonth ">
          
          {{day.dayNum}} 
          <br>
          {{day.dayString}} 
        </th>
    </tr>
  </thead>
    <div *ngIf="view =='groups'">
        <div *ngFor = "let resource of resources | async">
      <div *ngIf="group == resource.data.group" class="list-group-item text-muted tr-resource">  
        <tr>
        <td class="calendar-row calendar-resource-head align-middle"><br>{{resource.data.title}}</td>
        <td class="calendar-row" id="{{day.dateID}}"  *ngFor="let day of daysInMonth">
          <div *ngIf="resource.data.start.includes(day.dateID)"> 
            <p>{{resource.data.title}}</p>
            </div>
            <p *ngIf="resource.data.resourceToResource[0]">{{resource.data.resourceToResource[0][day.dateID]}}</p>
          <fa *ngIf="resource.data.start.includes(day.dateID)" (click)="deleteCalEvent(day.dateID, resource.data.title)" [name]="'trash'" [size]=1></fa>
          </td>
        
        </tr>
      </div>
    </div>
      </div>


      <div *ngIf="view =='resourcesView'">
        <tr class="list-group-item text-muted tr-resource" *ngFor = "let resource of resources | async">  
            <td class="calendar-row calendar-resource-head align-middle"><br>{{resource.data.title}}</td>
            <td class="calendar-row" id="{{day.dateID}}"  *ngFor="let day of daysInMonth">
              <div *ngIf="resource.data.start.includes(day.dateID)"> 
                <p>{{resource.data.title}}</p>
                </div>
                <p *ngIf="resource.data.resourceToResource[0]">{{resource.data.resourceToResource[0][day.dateID]}}</p>
              <fa *ngIf="resource.data.start.includes(day.dateID)" (click)="deleteCalEvent(day.dateID, resource.data.title)" [name]="'trash'" [size]=1></fa>
              </td>
            </tr>
          </div>

    </table>
</div>
